figure.pfofile-friend {
  width: 73px;
  padding: 5px 0px 5px 0px;
  margin: 0px 0px 0px 5px;
  cursor: pointer;
  float: left;
  display: block;
  overflow: hidden;

  img {
    width: 60px;
    height: 60px;
    float: left;
  }

  figcaption {
    text-align: left;
    font-size: 14px;
  }
}
