div.NewPost {
  button.new-post {
    width: 480px;
    margin: 0px 10px 0px 10px;
    height: 30px;
    border: 2px groove rgba(139, 96, 114, 0.93);
    background-color: hsla(84, 100%, 100%, 0.94);
    text-align: left;
    color: rgba(187, 187, 204, 0.94);
    font-size: 14px;
    cursor: text;
  }

  .post-forms {
    textarea {
      border: 2px groove rgba(139, 96, 114, 0.93);
      background-color: hsla(84, 100%, 100%, 0.94);
      font-size: 14px;
      width: 470px;
      max-width: 480px;
      margin: 0px 10px 0px 10px;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 10px;
    }

    .image-preview {
      width: 480px;
      margin-left: 10px;
      clear: both;
    }

    #post_image {
      margin-left: 10px;
    }

    input.inputFile {
      width: 480px;
      margin-left: 10px;
      margin-bottom: 5px;
      background-color: rgba(54, 101, 30, 0);
      border: 2px groove rgba(76, 175, 80, 0.72);
    }

    button {
      width: 80px;
      margin-left: 10px;
      height: 25px;
      border-radius: 4px;
      background: rgb(63, 75, 181);
      border: 2px solid rgba(76, 175, 80, 0.72);
      color: white;
      cursor: pointer;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}
