.news {
  margin: auto;
  width: 700px;
  padding: 10px 20px 10px 10px;
  border: 2px groove rgba(96, 125, 139, 0.36);
  background: rgba(139, 133, 96, 0.5);
  min-height: 100px;
  margin-bottom: 10px;
  float: none;

  .name {
    margin-left: 20px;
    font-size: 18px;
    color: blue;
  }

  .time {
    margin-left: 5px;
    font-size: 12px;
    color: grey;
  }

  .text {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
  }

  hr.bottom {
    clear: both;
    visibility: hidden;
  }

  .news-images {
    width: 490px;
    margin: auto;

    img {
      display: block;
    }

    hr {
      clear: both;
      visibility: hidden;
    }
  }
}
