div.message {
  position: static;
  width: 790px;
  min-height: 95px;
  background: rgba(46, 51, 53, 0.5);
  border: 2px groove #353748;
  padding: 5px 5px 0px 5px;
  margin-bottom: 15px;
  margin-top: 15px;

  figure.pfofile-friend {
    margin: 0px 5px 5px 0px;
    padding-bottom: 5px;
    width: 90px;

    img {
      width: 80px;
      height: 80px;
    }
  }

  hr.line{
    margin-top: 0px;
    margin-bottom: 2px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
  }

  .date{
    font-size: 12px;
    color: #fff;
    margin-bottom: 0px;
  }

  div.text {
    font-size: 16px;
    width: 680px;
    padding-left: 10px;
    word-wrap: break-word;
    overflow: hidden;
    padding: 10px 10px 10px 0px;
  }

  .author {
    font-size: 16px;
    color: blue;
    text-decoration: none;
  }
}
