li.dropdown {
  width: 90px;
  height: 28px;
  margin-top: -16px;
  padding: 10px 0px 2px 8px;
  color: rgba(55, 0, 255, 0.84);
  cursor: pointer;
}

li.dropdown:hover {
  background-color: rgba(17, 219, 221, 0.24);
}

.dropdown p>span {
  float: left;
  padding-top: 3px;
  padding-right: 5px;
}

.dropdown .img {
  background: url('setting.png') no-repeat;
  background-size: 100%;
  width: 15px;
  height: 15px;
  margin-left: 60px;
  margin-top: -20px;
}

li.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin-top: 28px;
  display: none;
  margin-left: -10px;
}

.dropdown-menu a { text-decoration: none; }

.dropdown-menu li {
  width: 87px;
  padding: 5px 0px 5px 4px;
  margin-bottom: 2px;
  margin-left: 2px;
  display: block;
  color: rgba(0, 98, 255, 0.87);
  background-color: rgba(170, 221, 17, 0.81);
  border: 4px groove rgba(204, 204, 204, 0.42);
  cursor: pointer;
}

.dropdown-menu li:hover { background-color: rgba(170, 209, 221, 0.96); }
