.search-form input {
     background: url('search.png') no-repeat;
     border:none;
     float: left;
     height:20px;
     margin-top: 8px;
     margin-left: 80px;
     padding: 1px 0px 1px 30px;
     width:170px;
  }
