div.comment {
  width: 420px;
  margin: 0px 10px 10px 70px;
  background: rgba(63, 181, 140, 0.22);
  border: 1px solid rgba(76, 175, 80, 0.54);
  padding: 5px 5px 15px 5px;
  border-radius: 15px;

  .comment-text {
    font-size: 15px;
    width: 410px;
    padding-left: 10px;
    word-wrap: break-word;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  p.date {
    width: 150px;
    float: left;
    font-size: 11px;
    color: grey;
  }

  a.author {
    font-size: 14px;
  }

  .edit-comment {
    text-decoration: none;
    font-size: 12px;
    margin-top: -10px;
    margin-left: 235px;
    color: blue;
    float: right;
    cursor: pointer;
  }
}
